<h1> Survey Complete</h1>

<h2>Answers for <%= @person.name %></h2>

<% @person.answers.each do |answer| %>
	<p>
		<%= answer.question_and_answer %>
	</p>
<% end %>

<%= link_to 'Click here to return to login', new_person_path %>